
@media only screen  {
  #navbar-container {
    padding-right: 5px;
    border-radius: 3px;
    background-color: rgba(34,169,191,0.98);
    color:rgb(255,255,255,1.0);
    min-height: 10px;
    margin-bottom: 0;
  }
  .navbar-nav {
    right:20px;
    position: absolute;
  }
  a.nav-item{
    padding:5px;
    color:white !important;
  }
  a.nav-item:hover {
    border-top: thin;
    border-bottom: thin;
    border-top-style: solid;
    border-bottom-style: solid;
    background-color: rgba(34,169,191,1.0);
    border-color:rgb(255,255,255,0.4); 
    font-weight:bolder;
  }
  .navbar-toggler {
    height: 40%;
  }
  #nav-logo {
    margin-bottom: auto;
    margin-top: .20em;
  }
}